Repository Azure/typespec-azure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @lmazuel, @m-nash, @iscai-msft, @srnagar, @joheredi, @weidongxu-microsoft, @tadelesh, @jhendrixMSFT

.github/CODEOWNERS:

* @bterlson @markcowl @allenjzhang @timotheeguerin

/packages/typespec-client-generator-core @lmazuel @m-nash @iscai-msft @srnagar @joheredi
/packages/azure-http-specs/specs/ @iscai-msft @lmazuel @m-nash @joheredi @srnagar @weidongxu-microsoft @tadelesh @jhendrixMSFT 

/docs/howtos/DataPlane*/ @lmazuel @m-nash @iscai-msft @srnagar @joheredi

add new csharp emitter
  packages/azure-spec-dashboard/src/apis.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin

update contributing labels
  .github/policies/issues.triage.generated.yml
  .github/policies/prs.triage.generated.yml
  CONTRIBUTING.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin

Add Rust to client naming scenarios (#2039)
  .chronus/changes/rust-client-names-2025-0-6-15-6-10.md
  packages/azure-http-specs/specs/client/naming/main.tsp
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @iscai-msft, @lmazuel, @m-nash, @joheredi, @srnagar, @weidongxu-microsoft, @tadelesh, @jhendrixMSFT

Update contributing labels (#2048)
  .github/policies/issues.triage.generated.yml
  .github/policies/prs.triage.generated.yml
  CONTRIBUTING.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin

bump azure-http-specs
  packages/azure-http-specs/CHANGELOG.md
  packages/azure-http-specs/package.json
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin

Fix comments
  packages/azure-http-specs/specs/azure/resource-manager/resources/location.tsp
  packages/azure-http-specs/specs/azure/resource-manager/resources/mockapi.ts
Owners: @iscai-msft, @lmazuel, @m-nash, @joheredi, @srnagar, @weidongxu-microsoft, @tadelesh, @jhendrixMSFT

fix comments
  packages/azure-http-specs/specs/azure/resource-manager/resources/extension.tsp
Owners: @iscai-msft, @lmazuel, @m-nash, @joheredi, @srnagar, @weidongxu-microsoft, @tadelesh, @jhendrixMSFT

wip
  packages/typespec-client-generator-core/package.json
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/package.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/types/model-types.test.ts
  packages/typespec-client-generator-core/test/types/serialization-options.test.ts
Owners: @lmazuel, @m-nash, @iscai-msft, @srnagar, @joheredi

add design doc
  packages/typespec-client-generator-core/design-docs/client.md
Owners: @lmazuel, @m-nash, @iscai-msft, @srnagar, @joheredi

Update enum-driven visibility for http
  .gitmodules
  pnpm-lock.yaml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin

regen-docs
  packages/azure-http-specs/spec-summary.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin

tiny fix
  packages/typespec-client-generator-core/design-docs/client.md
Owners: @lmazuel, @m-nash, @iscai-msft, @srnagar, @joheredi

azure-http-specs, add clientNamespace (#1929)
  .chronus/changes/azure-http-specs_client-namespace-2024-10-29-12-8-41.md
  packages/azure-http-specs/spec-summary.md
  packages/azure-http-specs/specs/client/namespace/client.tsp
  packages/azure-http-specs/specs/client/namespace/main.tsp
  packages/azure-http-specs/specs/client/namespace/mockapi.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @iscai-msft, @lmazuel, @m-nash, @joheredi, @srnagar, @weidongxu-microsoft, @tadelesh, @jhendrixMSFT

azure-http-specs, add ARM Location-Based case (#1932)
  .chronus/changes/specs_arm_location_base_resource-2024-10-29-14-46-26.md
  packages/azure-http-specs/spec-summary.md
  packages/azure-http-specs/specs/azure/resource-manager/resources/location.tsp
  packages/azure-http-specs/specs/azure/resource-manager/resources/main.tsp
  packages/azure-http-specs/specs/azure/resource-manager/resources/mockapi.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @iscai-msft, @lmazuel, @m-nash, @joheredi, @srnagar, @weidongxu-microsoft, @tadelesh, @jhendrixMSFT

refactor serialization logic
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/types/body-model-property-types.test.ts
  packages/typespec-client-generator-core/test/types/model-types.test.ts
  packages/typespec-client-generator-core/test/types/multipart-types.test.ts
  packages/typespec-client-generator-core/test/types/serialization-options.test.ts
Owners: @lmazuel, @m-nash, @iscai-msft, @srnagar, @joheredi

changeset
  .chronus/changes/refine_serialization-2025-0-9-18-52-29.md
  .chronus/changes/refine_serialization-2025-0-9-18-53-36.md
  .chronus/changes/refine_serialization-2025-0-9-18-54-18.md
  packages/typespec-client-generator-core/src/interfaces.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @lmazuel, @m-nash, @iscai-msft, @srnagar, @joheredi

fix
  .chronus/changes/refine_serialization-2025-0-9-18-52-29.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin

add new csharp emitter (#2047)
  packages/azure-spec-dashboard/src/apis.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin

[@azure-tools/azure-spec-dashboard] - Rename Title to Azure Spector Dashboard
  packages/azure-spec-dashboard/CHANGELOG.md
  packages/azure-spec-dashboard/README.md
  packages/azure-spec-dashboard/index.html
  packages/azure-spec-dashboard/package.json
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin
