Repository Azure/typespec-azure, pull requests merged in 2024-07, with the labels that each got.

#1111 Fix [Bug]: Wrong `null` tagging in ManagedServiceIdentity
  .chronus/changes/fix-managed-identity-def-issue-2024-6-2-18-48-2.md
  docs/libraries/azure-resource-manager/reference/data-types.md
  packages/typespec-azure-resource-manager/lib/common-types/managed-identity.tsp
Labels: lib:azure-resource-manager

#1131 Disable 1ds codeql
  eng/pipelines/templates/1es-redirect.yml
Labels: eng

#1142 TCGC, Add description to `SdkHttpResponse`
  .chronus/changes/add-response-parameter-desc-2024-6-10-3-28-32.md
  packages/typespec-client-generator-core/src/http.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/test/types/response.test.ts
Labels: lib:tcgc

#1116 Allow `@armCommonDefinition` decorator to be used on enums and unions
  .chronus/changes/arm-common-def-enum-union-2024-6-2-19-28-7.md
  .chronus/changes/arm-common-def-enum-union-2024-6-2-20-54-54.md
  packages/typespec-autorest/src/openapi.ts
  packages/typespec-azure-resource-manager/lib/common-types/commontypes.private.decorators.tsp
  packages/typespec-azure-resource-manager/lib/common-types/managed-identity-ref.tsp
  packages/typespec-azure-resource-manager/lib/common-types/private-links-ref.tsp
  packages/typespec-azure-resource-manager/lib/common-types/types-ref.tsp
  packages/typespec-azure-resource-manager/src/common-types.ts
  packages/typespec-azure-resource-manager/src/commontypes.private.decorators.ts
Labels: lib:azure-resource-manager

#1159 Add node 22 to CI
  eng/pipelines/pr.yml
Labels: eng

#1144 Fix codeql warning on regex
  .chronus/changes/timotheeguerin-patch-1-2024-6-10-15-45-54.md
  packages/typespec-azure-resource-manager/src/rules/utils.ts
Labels: lib:azure-resource-manager

#1045 filter api versions for GA
  .chronus/changes/list_api_versions-2024-6-8-16-37-6.md
  .chronus/changes/list_api_versions-2024-6-9-13-47-45.md
  packages/typespec-autorest/src/emit.ts
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/public-utils.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/decorators.test.ts
Labels: lib:tcgc

#1119 Report diagnostics on `@clientName` conflicts
  .chronus/changes/throw-client-name-conflicts-2024-6-5-13-7-58.md
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/index.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/lib.ts
  packages/typespec-client-generator-core/src/validate.ts
  packages/typespec-client-generator-core/test/decorators.test.ts
Labels: lib:tcgc

#1191 Backmerge/release/july 2024 2024 07 17
  packages/typespec-client-generator-core/CHANGELOG.md
  packages/typespec-client-generator-core/package.json
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/index.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/lib.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/src/validate.ts
  packages/typespec-client-generator-core/test/decorators.test.ts
  packages/typespec-client-generator-core/test/package.test.ts
  packages/typespec-client-generator-core/test/types/enum-types.test.ts
Labels: lib:tcgc

#1198 Migrate azure core library to use generated decorator signature
  .chronus/changes/azure-core-dec-signatures-2024-6-18-17-49-0.md
  docs/libraries/azure-core/reference/decorators.md
  packages/typespec-azure-core/README.md
  packages/typespec-azure-core/generated-defs/Azure.Core.Foundations.Private.ts
  packages/typespec-azure-core/generated-defs/Azure.Core.Foundations.ts
  packages/typespec-azure-core/generated-defs/Azure.Core.Foundations.ts-test.ts
  packages/typespec-azure-core/generated-defs/Azure.Core.Traits.Private.ts
  packages/typespec-azure-core/generated-defs/Azure.Core.Traits.ts
  packages/typespec-azure-core/generated-defs/Azure.Core.Traits.ts-test.ts
  packages/typespec-azure-core/generated-defs/Azure.Core.ts
  packages/typespec-azure-core/generated-defs/Azure.Core.ts-test.ts
  packages/typespec-azure-core/lib/traits.tsp
  packages/typespec-azure-core/package.json
  packages/typespec-azure-core/src/decorators.ts
  packages/typespec-azure-core/src/lib.ts
  packages/typespec-azure-core/src/traits.ts
  packages/typespec-azure-core/tsconfig.json
Labels: lib:azure-core

#1187 Use LocationResourceParameter instead of deprecated LocationParameter
  .chronus/changes/location-parameter-2024-6-17-17-48-51.md
  docs/libraries/azure-resource-manager/reference/interfaces.md
  packages/typespec-azure-resource-manager/lib/operations.tsp
Labels: lib:azure-resource-manager

#1205 fix `@clientName` validation for operation within interface
  .chronus/changes/operation-validation-2024-6-19-18-35-46.md
  packages/typespec-client-generator-core/src/validate.ts
  packages/typespec-client-generator-core/test/decorators.test.ts
Labels: lib:tcgc

#1015 introduce `name` and `crossLanguageDefinitionId` to `SdkBuiltInType`, `SdkDateTimeType` and `SdkDurationType`
  .chronus/changes/add-scalar-type-2024-5-14-13-23-7.md
  docs/howtos/DataPlane Generation - DPG/07tcgcTypes.mdx
  packages/typespec-client-generator-core/doc/types.tsp
  packages/typespec-client-generator-core/src/http.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/package.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/package.test.ts
  packages/typespec-client-generator-core/test/types/built-in-types.test.ts
  packages/typespec-client-generator-core/test/types/date-time-types.test.ts
  packages/typespec-client-generator-core/test/types/duration-type.test.ts
  packages/typespec-client-generator-core/test/types/model-types.test.ts
Labels: breaking-change

#1076 [tcgc] add example model in tcgc
  .chronus/changes/tcgc_sample-2024-5-24-18-19-39.md
  .chronus/changes/tcgc_sample-2024-5-25-18-26-42.md
  .chronus/changes/tcgc_sample-2024-5-26-10-23-7.md
  packages/typespec-autorest-canonical/src/emitter.ts
  packages/typespec-autorest/src/emit.ts
  packages/typespec-client-generator-core/package.json
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/example.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/lib.ts
  packages/typespec-client-generator-core/src/public-utils.ts
  packages/typespec-client-generator-core/test/decorators.test.ts
  packages/typespec-client-generator-core/test/examples/example-types.test.ts
  packages/typespec-client-generator-core/test/examples/example-types/getAny.json
  packages/typespec-client-generator-core/test/examples/example-types/getArray.json
  packages/typespec-client-generator-core/test/examples/example-types/getArrayDiagnostic.json
  packages/typespec-client-generator-core/test/examples/example-types/getBoolean.json
  packages/typespec-client-generator-core/test/examples/example-types/getBooleanDiagnostic.json
  packages/typespec-client-generator-core/test/examples/example-types/getDictionary.json
  packages/typespec-client-generator-core/test/examples/example-types/getDictionaryDiagnostic.json
  packages/typespec-client-generator-core/test/examples/example-types/getModel.json
  packages/typespec-client-generator-core/test/examples/example-types/getModelAdditionalProperties.json
  packages/typespec-client-generator-core/test/examples/example-types/getModelDiagnostic.json
  packages/typespec-client-generator-core/test/examples/example-types/getModelDiscriminator.json
  packages/typespec-client-generator-core/test/examples/example-types/getModelDiscriminatorDiagnostic.json
  packages/typespec-client-generator-core/test/examples/example-types/getNull.json
  packages/typespec-client-generator-core/test/examples/example-types/getNumber.json
  packages/typespec-client-generator-core/test/examples/example-types/getNumberDiagnostic.json
  packages/typespec-client-generator-core/test/examples/example-types/getNumberFromDateTime.json
  packages/typespec-client-generator-core/test/examples/example-types/getNumberFromDuration.json
  packages/typespec-client-generator-core/test/examples/example-types/getString.json
  packages/typespec-client-generator-core/test/examples/example-types/getStringDiagnostic.json
  packages/typespec-client-generator-core/test/examples/example-types/getStringFromConstant.json
  packages/typespec-client-generator-core/test/examples/example-types/getStringFromConstantDiagnostic.json
  packages/typespec-client-generator-core/test/examples/example-types/getStringFromDataTime.json
  packages/typespec-client-generator-core/test/examples/example-types/getStringFromDuration.json
  packages/typespec-client-generator-core/test/examples/example-types/getStringFromEnum.json
  packages/typespec-client-generator-core/test/examples/example-types/getStringFromEnumDiagnostic.json
  packages/typespec-client-generator-core/test/examples/example-types/getStringFromEnumValue.json
  packages/typespec-client-generator-core/test/examples/example-types/getStringFromEnumValueDiagnostic.json
  packages/typespec-client-generator-core/test/examples/example-types/getUnion.json
  packages/typespec-client-generator-core/test/examples/helper.test.ts
  packages/typespec-client-generator-core/test/examples/helper/getOne.json
  packages/typespec-client-generator-core/test/examples/helper/getTwo.json
  packages/typespec-client-generator-core/test/examples/http-operation-examples.test.ts
  packages/typespec-client-generator-core/test/examples/http-operation-examples/parameters.json
  packages/typespec-client-generator-core/test/examples/http-operation-examples/parametersDiagnostic.json
  packages/typespec-client-generator-core/test/examples/http-operation-examples/responses.json
  packages/typespec-client-generator-core/test/examples/http-operation-examples/responsesDiagnostic.json
  packages/typespec-client-generator-core/test/examples/http-operation-examples/simple.json
  packages/typespec-client-generator-core/test/examples/load.test.ts
  packages/typespec-client-generator-core/test/examples/load/get.json
  packages/typespec-client-generator-core/test/examples/load/getAnother.json
  packages/typespec-client-generator-core/test/public-utils.test.ts
  packages/typespec-client-generator-core/test/test-host.ts
  pnpm-lock.yaml
Labels: breaking-change

#1231 Fix the duplicate usage flag value
  .chronus/changes/fix-usage-issue-2024-6-25-10-23-1.md
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/types/model-types.test.ts
  packages/typespec-client-generator-core/test/types/usage-flags.test.ts
Labels: lib:tcgc

#1223 Report error diagnostic when trying to flattening a model with polymorphsim
  .chronus/changes/tcgc-forbid-polymorphism-flatten-2024-6-23-22-12-38.md
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/lib.ts
  packages/typespec-client-generator-core/test/decorators.test.ts
Labels: lib:tcgc

#1244 cut off the base type calculation when this type is a std type
  .chronus/changes/cut-off-base-on-std-type-2024-6-29-16-44-37.md
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/types/built-in-types.test.ts
  packages/typespec-client-generator-core/test/types/date-time-types.test.ts
  packages/typespec-client-generator-core/test/types/duration-type.test.ts
Labels: lib:tcgc

#1256 Backmerge/release/july 2024 2024 07 29
  .chronus/changes/backmerge-release-july-2024-2024-07-29-2024-6-29-12-17-25.md
  packages/typespec-client-generator-core/CHANGELOG.md
  packages/typespec-client-generator-core/package.json
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/types/built-in-types.test.ts
  packages/typespec-client-generator-core/test/types/date-time-types.test.ts
  packages/typespec-client-generator-core/test/types/duration-type.test.ts
  packages/typespec-client-generator-core/test/types/multipart-types.test.ts
Labels: lib:tcgc

#1209 update python snippets
  docs/howtos/DataPlane Generation - DPG/04renaming.mdx
Labels: docs

#1278 update ARM init template
  eng/feeds/arm/employee.tsp
  eng/feeds/arm/main.tsp
  eng/feeds/arm/tspconfig.yaml
  eng/feeds/arm/tspconfig_stand_alone.yaml
Labels: eng
