Repository Azure/typespec-azure, pull requests merged in 2024-12, with the labels that each got.

#1943 Backmerge/release/november 2024 2024 12 03
  packages/typespec-client-generator-core/CHANGELOG.md
  packages/typespec-client-generator-core/package.json
  packages/typespec-client-generator-core/src/package.ts
  packages/typespec-client-generator-core/test/packages/paged-operation.test.ts
Labels: lib:tcgc

#1887 Introduce more usages to describe things related with the states of LRO
  .chronus/changes/remove-lro-workaround-2024-10-19-9-4-1.md
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/methods/lro.test.ts
  packages/typespec-client-generator-core/test/package.test.ts
  packages/typespec-client-generator-core/test/test-host.ts
Labels: lib:tcgc

#1951 [tcgc] refine model output test
  .chronus/changes/refine_tcgc_output_test-2024-11-5-13-20-53.md
  packages/typespec-client-generator-core/test/context/create-context.test.ts
  packages/typespec-client-generator-core/test/context/output/tcgc-output-complex.yaml
  packages/typespec-client-generator-core/test/context/output/tcgc-output.yaml
Labels: lib:tcgc

#1272 add `armResourceType` scalar in `typespec-azure-core`
  .chronus/changes/add-resource-type-2024-6-31-14-6-51.md
  packages/samples/common-types/gen.ts
  packages/typespec-azure-core/lib/models.tsp
  packages/typespec-azure-resource-manager/lib/common-types/types.tsp
  website/src/content/docs/docs/libraries/azure-core/reference/data-types.md
  website/src/content/docs/docs/libraries/azure-resource-manager/reference/data-types.md
Labels: needs-info

#1996 Create deploy-azure-spec-dashboard-storage-account.yml
  eng/pipelines/deploy-azure-spec-dashboard-storage-account.yml
Labels: eng

#1997 [@azure-tools/azure-spec-dashboard] Deployment script for Azure Spec Dashboard
  eng/pipelines/deploy-azure-spec-dashboard-storage-account.yml
Labels: eng

#2002 Fix Dashboard release pipeline
  eng/pipelines/deploy-azure-spec-dashboard-storage-account.yml
  packages/azure-spec-dashboard/src/apis.ts
Labels: eng

#1991 Update labels.ts to include CLI/PSH area label
  eng/config/labels.ts
Labels: eng
