Repository Azure/typespec-azure, pull requests merged in 2024-09, with the labels that each got.

#1476 [TCGC] Fix client initialization for `subscriptionId`
  .chronus/changes/fix-tcgc-client-init-2024-8-5-13-31-51.md
  packages/typespec-client-generator-core/package.json
  packages/typespec-client-generator-core/src/package.ts
  packages/typespec-client-generator-core/test/package.test.ts
  packages/typespec-client-generator-core/test/test-host.ts
  pnpm-lock.yaml
Labels: lib:tcgc

#1368 Add new option, deprecate old one and make default valuable for example directory
  .chronus/changes/new-option-examples-dir-2024-7-13-20-55-50.md
  docs/emitters/typespec-autorest/reference/emitter.md
  packages/samples/specs/misc/x-ms-examples/tspconfig.yaml
  packages/typespec-autorest/README.md
  packages/typespec-autorest/src/decorators.ts
  packages/typespec-autorest/src/emit.ts
  packages/typespec-autorest/src/lib.ts
  packages/typespec-autorest/src/openapi.ts
  packages/typespec-autorest/src/openapi2-document.ts
  packages/typespec-autorest/test/decorators.test.ts
  packages/typespec-autorest/test/options.test.ts
  packages/typespec-autorest/test/test-host.ts
  packages/typespec-autorest/test/versioning.test.ts
  packages/typespec-autorest/test/x-ms-examples.test.ts
Labels: deprecation

#1477 Disable dependabot labels
  .github/dependabot.yml
Labels: eng

#1501 sync ci labels
  .github/policies/prs.triage.generated.yml
  eng/config/labels.ts
Labels: eng

#1427 update publishing steps
  CONTRIBUTING.md
Labels: eng

#1512 Replace `x-ms-skip-url-encoding` with `allowReserved`
  .chronus/changes/allow-reserved-2024-8-11-16-40-29.md
  packages/typespec-azure-resource-manager/lib/common-types/types.tsp
  packages/typespec-azure-resource-manager/lib/parameters.tsp
Labels: lib:azure-resource-manager

#1495 Remove examples-directory from feeds
  eng/feeds/arm-canonical/tspconfig.yaml
  eng/feeds/arm/tspconfig.yaml
  eng/feeds/arm/tspconfig_stand_alone.yaml
  eng/feeds/data-plane/tspconfig.yaml
  eng/feeds/data-plane/tspconfig_stand_alone.yaml
Labels: eng

#1463 Polish some API names in TCGC
  .chronus/changes/change-some-bad-apis-2024-8-3-7-4-12.md
  packages/typespec-client-generator-core/src/example.ts
  packages/typespec-client-generator-core/src/http.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/package.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/examples/example-types.test.ts
  packages/typespec-client-generator-core/test/package.test.ts
  packages/typespec-client-generator-core/test/public-utils.test.ts
  packages/typespec-client-generator-core/test/types/body-model-property-types.test.ts
  packages/typespec-client-generator-core/test/types/built-in-types.test.ts
  packages/typespec-client-generator-core/test/types/enum-types.test.ts
  packages/typespec-client-generator-core/test/types/model-types.test.ts
  packages/typespec-client-generator-core/test/types/tuple-types.test.ts
  packages/typespec-client-generator-core/test/types/union-types.test.ts
Labels: lib:tcgc

#1539 [TCGC] Change `encode` to optional and no longer use `kind` as its fallback value if there is no encode
  .chronus/changes/optional-encode-2024-8-14-9-51-14.md
  docs/howtos/Client Generation/07tcgcTypes.mdx
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/types/built-in-types.test.ts
Labels: lib:tcgc

#1548 Force using aad auth for storage upload
  eng/pipelines/pr-tools.yml
  eng/pipelines/publish.yml
Labels: eng

#1540 [TCGC] Change the `responses` and `exceptions` to be arrays
  .chronus/changes/change-response-to-be-array-2024-8-14-11-27-13.md
  docs/howtos/Client Generation/07tcgcTypes.mdx
  packages/typespec-client-generator-core/src/example.ts
  packages/typespec-client-generator-core/src/http.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/test/examples/example-types.test.ts
  packages/typespec-client-generator-core/test/examples/http-operation-examples.test.ts
  packages/typespec-client-generator-core/test/package.test.ts
  packages/typespec-client-generator-core/test/packages/parameters.test.ts
  packages/typespec-client-generator-core/test/packages/spread.test.ts
Labels: lib:tcgc

#1511 [TCGC] Fix judge logic how to distinguish model is referred both in common content-type and multipart content-type
  .chronus/changes/fix-multipart-diagnostics-2024-8-13-13-31-25.md
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/types/multipart-types.test.ts
Labels: lib:tcgc

#1589 Refine the `statusCodes` of `responses` and `exceptions`
  .chronus/changes/refine-responses-exceptions-2024-8-23-3-2-46.md
  packages/typespec-client-generator-core/src/http.ts
  packages/typespec-client-generator-core/src/interfaces.ts
Labels: lib:tcgc
