Repository Azure/typespec-azure, pull requests merged in 2025-07, with the labels that each got.

#2972 Pin node 24.3
  eng/pipelines/ci.yml
Labels: eng

#2976 Introduce `@previewVersion` decorator
  .chronus/changes/joheredi-preview-version-2025-6-9-17-23-14.md
  packages/typespec-azure-core/README.md
  packages/typespec-azure-core/generated-defs/Azure.Core.ts
  packages/typespec-azure-core/lib/decorators.tsp
  packages/typespec-azure-core/src/decorators.ts
  packages/typespec-azure-core/src/lib.ts
  packages/typespec-azure-core/src/tsp-index.ts
  packages/typespec-azure-core/src/validate.ts
  packages/typespec-azure-core/test/decorators.test.ts
  packages/typespec-azure-core/test/test-host.ts
  website/src/content/docs/docs/howtos/Versioning/preview-version.md
  website/src/content/docs/docs/libraries/azure-core/reference/decorators.md
  website/src/content/docs/docs/libraries/azure-core/reference/index.mdx
Labels: lib:azure-core

#2977 [TCGC] Add test for nested paging cases
  packages/typespec-client-generator-core/test/methods/paged-operation.test.ts
Labels: lib:tcgc

#2927 [typespec-autorest] Change operation ID normalization logic to only capitalize the first letter
  .chronus/changes/operation_id-2025-6-1-18-46-46.md
  .chronus/changes/operation_id-2025-6-3-17-5-22.md
  packages/typespec-autorest-canonical/package.json
  packages/typespec-autorest/package.json
  packages/typespec-autorest/src/utils.ts
  pnpm-lock.yaml
Labels: int:azure-specs

#2983 Integration better checks
  .github/scripts/validate-typespec-specs.ts
  .github/workflows/external-integration.yml
Labels: eng, int:azure-specs

#2968 Support enum member in enum member
  .chronus/changes/enum-member-parameter-type-2025-6-9-16-51-24.md
  packages/typespec-autorest/src/openapi.ts
  packages/typespec-autorest/test/enum.test.ts
  packages/typespec-autorest/test/openapi-output.test.ts
Labels: emitter:autorest

#2817 [TCGC] Model property refactor and paging metadata migration
  .chronus/changes/model-property-refactor-2025-5-17-17-9-0.md
  packages/typespec-client-generator-core/src/clients.ts
  packages/typespec-client-generator-core/src/context.ts
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/example.ts
  packages/typespec-client-generator-core/src/http.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/methods.ts
  packages/typespec-client-generator-core/src/public-utils.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/methods/lro.test.ts
  packages/typespec-client-generator-core/test/methods/paged-operation.test.ts
  packages/typespec-client-generator-core/test/methods/parameters.test.ts
  packages/typespec-client-generator-core/test/methods/responses.test.ts
  packages/typespec-client-generator-core/test/package/azure-widget-service.test.ts
  packages/typespec-client-generator-core/test/public-utils/get-generated-name.test.ts
  packages/typespec-client-generator-core/test/public-utils/is-http-metadata.test.ts
  packages/typespec-client-generator-core/test/types/body-model-property.test.ts
  packages/typespec-client-generator-core/test/types/model.test.ts
  packages/typespec-client-generator-core/test/types/multipart.test.ts
  packages/typespec-client-generator-core/test/types/utils.ts
Labels: lib:tcgc

#2757 Remove fixed decorator
  .chronus/changes/remove-fixed-decorator-2025-4-29-17-47-0.md
  package.json
  packages/typespec-azure-core/README.md
  packages/typespec-azure-core/generated-defs/Azure.Core.ts
  packages/typespec-azure-core/lib/decorators.tsp
  packages/typespec-azure-core/src/decorators.ts
  packages/typespec-azure-core/src/tsp-index.ts
  packages/typespec-azure-core/test/decorators.test.ts
  packages/typespec-client-generator-core/test/types/enum.test.ts
  website/src/content/docs/docs/libraries/azure-core/reference/decorators.md
  website/src/content/docs/docs/libraries/azure-core/reference/index.mdx
Labels: lib:azure-core, int:azure-specs

#3026 Add ResolveArmResources method
  .chronus/changes/resolve-ops-2025-6-22-3-42-41.md
  packages/typespec-azure-resource-manager/src/namespace.ts
  packages/typespec-azure-resource-manager/src/operations.ts
  packages/typespec-azure-resource-manager/src/resource.ts
  packages/typespec-azure-resource-manager/src/state.ts
  packages/typespec-azure-resource-manager/test/resource-resolution.test.ts
Labels: lib:azure-resource-manager, int:azure-specs

#3030 Fix error parameter in legacy list operation
  .chronus/changes/error-params-2025-6-22-12-47-23.md
  packages/typespec-azure-resource-manager/lib/Legacy/operations.tsp
  website/src/content/docs/docs/libraries/azure-resource-manager/reference/interfaces.md
Labels: int:azure-specs

#2974 Deprecate paged result and items
  .chronus/changes/deprecate-paged-result-and-items-2025-6-9-15-20-42.md
  packages/azure-http-specs/specs/azure/core/page/main.tsp
  packages/samples/specs/resource-manager/operations/operation-provider/main.tsp
  packages/typespec-autorest/test/paging.test.ts
  packages/typespec-azure-core/README.md
  packages/typespec-azure-core/generated-defs/Azure.Core.ts
  packages/typespec-azure-core/lib/decorators.tsp
  packages/typespec-azure-core/lib/foundations.tsp
  packages/typespec-azure-core/lib/legacy.tsp
  packages/typespec-azure-core/lib/models.tsp
  packages/typespec-azure-core/src/rules/use-standard-names.ts
  packages/typespec-azure-core/test/decorators.test.ts
  packages/typespec-azure-core/test/operations.test.ts
  packages/typespec-azure-core/test/rules/use-standard-names.test.ts
  packages/typespec-azure-resource-manager/lib/Legacy/extension.tsp
  packages/typespec-azure-resource-manager/lib/Legacy/interfaces.tsp
  packages/typespec-azure-resource-manager/lib/Legacy/operations.tsp
  packages/typespec-azure-resource-manager/lib/common-types/private-links.tsp
  packages/typespec-azure-resource-manager/lib/extension/operations.tsp
  packages/typespec-azure-resource-manager/lib/interfaces.tsp
  packages/typespec-azure-resource-manager/lib/models.tsp
  packages/typespec-azure-resource-manager/lib/operations.tsp
  packages/typespec-client-generator-core/test/methods/paged-operation.test.ts
  packages/typespec-client-generator-core/test/public-utils/is-paged-result-model.test.ts
  website/src/content/docs/docs/libraries/azure-core/reference/data-types.md
  website/src/content/docs/docs/libraries/azure-core/reference/decorators.md
Labels: int:azure-specs

#3025 Do not use common types aliases internally (ARM)
  .chronus/changes/no-common-types-alias-internal-2025-6-21-23-24-20.md
  packages/typespec-azure-resource-manager/lib/Legacy/interfaces.tsp
  packages/typespec-azure-resource-manager/lib/foundations/arm.foundations.tsp
  packages/typespec-azure-resource-manager/lib/interfaces.tsp
  packages/typespec-azure-resource-manager/lib/operations.tsp
  website/src/content/docs/docs/libraries/azure-resource-manager/reference/data-types.md
Labels: lib:azure-resource-manager, int:azure-specs

#3047 Same change as core to publish modified packages
  .chronus/changes/pr.new-preview-2025-6-24-19-39-16.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
  eng/pipelines/ci.yml
  eng/pipelines/jobs/publish-artifacts.yml
  eng/scripts/check-docs.js
  eng/scripts/pkg-pr-new.ts
  eng/scripts/prepare-publish.js
  eng/tsconfig.json
  packages/typespec-azure-core/CHANGELOG.json
  tsconfig.eng.json
Labels: eng

#2979 Add validation in case lro parameter is missing
  .chronus/changes/validate-lro-parammeter-2025-6-10-22-2-48.md
  packages/typespec-azure-core/src/decorators.ts
  packages/typespec-azure-core/src/lib.ts
  packages/typespec-azure-core/src/lro-info.ts
  packages/typespec-azure-core/test/lro.test.ts
Labels: lib:azure-core, int:azure-specs
