Repository Azure/typespec-azure, pull requests merged in 2025-05, with the labels that each got.

#2617 add copilot instructions
  .github/copilot-instructions.md
Labels: eng

#2619 [copilot] add instructions for labels
  .github/copilot-instructions.md
Labels: eng

#2624 [python] update tspconfigs with `namespace` switch
  eng/feeds/__snapshots__/azure-core/tspconfig.yaml
  eng/feeds/__snapshots__/azure-core_stand_alone/tspconfig.yaml
  eng/feeds/arm/tspconfig.yaml
  eng/feeds/data-plane/tspconfig.yaml
  eng/feeds/data-plane/tspconfig_stand_alone.yaml
Labels: eng

#2203 fix url for extension resource in mockapi
  .chronus/changes/FixUrlForExtensionRsource-2025-1-12-11-15-39.md
  packages/azure-http-specs/specs/azure/resource-manager/resources/mockapi.ts
Labels: lib:azure-http-specs

#2581 Update JS template in tsp init command
  eng/feeds/__snapshots__/azure-core/tspconfig.yaml
  eng/feeds/__snapshots__/azure-core_stand_alone/tspconfig.yaml
  eng/feeds/arm/tspconfig.yaml
  eng/feeds/data-plane/tspconfig.yaml
  eng/feeds/data-plane/tspconfig_stand_alone.yaml
Labels: eng

#2663 [tcgc] add linter warning for multiple param aliases
  .chronus/changes/tcgc-lintAgainstMultipleParamAlias-2025-4-12-12-45-13.md
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/lib.ts
  packages/typespec-client-generator-core/test/decorators/param-alias.test.ts
Labels: lib:tcgc

#2672 [arm lib] fix singleton resource autoroute issue
  .chronus/changes/try_fix_singleton-2025-4-14-15-55-23.md
  packages/typespec-azure-resource-manager/src/namespace.ts
  packages/typespec-azure-resource-manager/test/namespace.test.ts
  packages/typespec-azure-resource-manager/test/test-host.ts
Labels: lib:azure-resource-manager

#2756 Fix HttpPart<File> correctly render as `type:file`
  .chronus/changes/fix-http-part-file-2025-4-29-17-14-9.md
  packages/typespec-autorest/src/openapi.ts
  packages/typespec-autorest/test/multipart.test.ts
Labels: emitter:autorest

#2760 disable e2e tests for merge queue
  eng/pipelines/jobs/e2e-job.yml
Labels: eng
