Repository Azure/typespec-azure, pull requests merged in 2025-03, with the labels that each got.

#2283 Update build tools ref
  eng/pipelines/templates/1es-redirect.yml
Labels: eng

#2222 [tcgc] refine logic to iterate over all user-defined namespaces
  .chronus/changes/tcgc-findClientNamespaces-2025-1-14-16-8-50.md
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/public-utils.ts
  packages/typespec-client-generator-core/src/types.ts
Labels: lib:tcgc

#2305 [tcgc] move to mutators
  .chronus/changes/tcgc-migrateToMutator-2025-2-4-12-45-51.md
  packages/typespec-client-generator-core/src/context.ts
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/http.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/public-utils.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/decorators.test.ts
  packages/typespec-client-generator-core/test/public-utils.test.ts
  packages/typespec-client-generator-core/test/types/body-model-property-types.test.ts
  packages/typespec-client-generator-core/test/types/enum-types.test.ts
Labels: lib:tcgc

#2297 Fix using `@identifiers` on array of model with id not respected
  .chronus/changes/fix-identifiers-explicit-empty-with-id-2025-2-4-5-18-33.md
  packages/typespec-autorest/src/openapi.ts
  packages/typespec-autorest/test/openapi-output.test.ts
  packages/typespec-azure-resource-manager/src/resource.ts
Labels: emitter:autorest

#2326 [tcgc] add namespace flag
  .chronus/changes/tcgc-addNamespaceFlag-2025-2-6-16-20-54.md
  packages/typespec-client-generator-core/README.md
  packages/typespec-client-generator-core/src/context.ts
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/lib.ts
  packages/typespec-client-generator-core/src/package.ts
  packages/typespec-client-generator-core/src/public-utils.ts
  packages/typespec-client-generator-core/test/packages/namespaces.test.ts
  website/src/content/docs/docs/libraries/typespec-client-generator-core/reference/emitter.md
Labels: lib:tcgc

#2328 Fix ArmProviderActionAsync/ArmProviderActionSync operations returning…
  .chronus/changes/fix-operations-2025-2-6-21-1-2.md
  packages/typespec-azure-resource-manager/lib/operations.tsp
  website/src/content/docs/docs/libraries/azure-resource-manager/reference/interfaces.md
Labels: lib:azure-resource-manager

#2333 add test for augmented clientName decorator
  packages/typespec-client-generator-core/test/rules/property-name-conflict.test.ts
Labels: lib:tcgc

#2258 Fix: Target param property when error on invalid type
  .chronus/changes/fix-unsupported-param-target-2025-1-24-23-11-54.md
  packages/typespec-autorest/src/openapi.ts
Labels: emitter:autorest

#2348 Autorest Case insensitive check for scheme
  .chronus/changes/autorest-case-insensitive-2025-2-10-23-18-40.md
  packages/typespec-autorest/src/openapi.ts
Labels: emitter:autorest

#2344 [tcgc] fix api version nested client default value
  .chronus/changes/tcgc-fixApiVersionNestedClientDefaultValue-2025-2-10-15-42-42.md
  .chronus/changes/tcgc-fixApiVersionNestedClientDefaultValue-2025-2-10-15-44-40.md
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/package.ts
  packages/typespec-client-generator-core/src/public-utils.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/decorators/client.test.ts
  packages/typespec-client-generator-core/test/internal-utils.test.ts
Labels: lib:tcgc

#2216 [tcgc] refine flags
  .chronus/changes/tcgc-flagsDocs-2025-2-10-17-39-18.md
  .chronus/changes/tcgc-flagsDocs-2025-2-11-16-29-16.md
  .chronus/changes/tcgc-flagsDocs-2025-2-11-17-18-27.md
  packages/typespec-client-generator-core/README.md
  packages/typespec-client-generator-core/design-docs/flags.md
  packages/typespec-client-generator-core/src/context.ts
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/example.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/lib.ts
  packages/typespec-client-generator-core/src/public-utils.ts
  packages/typespec-client-generator-core/src/types.ts
  packages/typespec-client-generator-core/test/examples/load.test.ts
  packages/typespec-client-generator-core/test/types/enum-types.test.ts
  website/src/content/docs/docs/libraries/typespec-client-generator-core/reference/emitter.md
Labels: lib:tcgc

#2310 change generate-examples to generate-samples
  eng/feeds/arm/tspconfig.yaml
Labels: eng

#2390 Specific scope decorator should always override all-scopes decorator
  .chronus/changes/decorator-override-2025-2-14-15-58-44.md
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/test/decorators/scope.test.ts
Labels: lib:tcgc

#2412 [tcgc] support re-injected query parameter for next link
  .chronus/changes/tcgc-parameterized_next_link-2025-2-19-15-35-50.md
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/package.ts
  packages/typespec-client-generator-core/test/methods/paged-operation.test.ts
Labels: lib:tcgc

#2459 Fixing multipart doc for autorest
  .chronus/changes/fix-multipart-doc-autorest-2025-2-27-8-21-2.md
  packages/typespec-autorest/src/openapi.ts
  packages/typespec-autorest/test/multipart.test.ts
Labels: emitter:autorest

#2464 Fix multipart issues
  .chronus/changes/fix-multipart-issues-2025-2-28-2-35-5.md
  packages/typespec-autorest/src/openapi.ts
  packages/typespec-autorest/test/multipart.test.ts
Labels: emitter:autorest

#2469 [tcgc] add `@responseAsBool` decorator
  .chronus/changes/tcgc-responseAsBoolDecorator-2025-2-28-14-25-58.md
  packages/typespec-client-generator-core/README.md
  packages/typespec-client-generator-core/generated-defs/Azure.ClientGenerator.Core.ts
  packages/typespec-client-generator-core/lib/decorators.tsp
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/http.ts
  packages/typespec-client-generator-core/src/lib.ts
  packages/typespec-client-generator-core/src/package.ts
  packages/typespec-client-generator-core/src/tsp-index.ts
  packages/typespec-client-generator-core/test/decorators/response-as-bool.test.ts
  website/src/content/docs/docs/libraries/typespec-client-generator-core/reference/decorators.md
  website/src/content/docs/docs/libraries/typespec-client-generator-core/reference/index.mdx
Labels: lib:tcgc
