Repository Azure/typespec-azure, pull requests merged in 2025-01, with the labels that each got.

#1998 Add `@scope` decorator
  .chronus/changes/scope-decorator-2024-11-18-12-59-12.md
  packages/typespec-client-generator-core/README.md
  packages/typespec-client-generator-core/generated-defs/Azure.ClientGenerator.Core.ts
  packages/typespec-client-generator-core/lib/decorators.tsp
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/tsp-index.ts
  packages/typespec-client-generator-core/test/decorators.test.ts
  website/src/content/docs/docs/libraries/typespec-client-generator-core/reference/decorators.md
  website/src/content/docs/docs/libraries/typespec-client-generator-core/reference/index.mdx
Labels: lib:tcgc

#2046 Add Codegen owners to spector specs
  .github/CODEOWNERS
Labels: eng

#2093 Upload Manifest based on azure specs publish
  eng/pipelines/publish.yml
Labels: eng

#2117 Backmerge/release/january 2025 2025 01 22
  packages/typespec-client-generator-core/CHANGELOG.md
  packages/typespec-client-generator-core/package.json
  packages/typespec-client-generator-core/src/example.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/test/examples/example-types.test.ts
  packages/typespec-client-generator-core/test/examples/example-types/getModelWithExtraParamter.json
  packages/typespec-client-generator-core/test/types/serialization-options.test.ts
Labels: lib:tcgc

#2135 [tcgc] remove e2e tests
  .chronus/changes/tcgc-fixe2e-2025-0-27-10-26-55.md
  packages/typespec-client-generator-core/e2e/basic-latest/main.tsp
  packages/typespec-client-generator-core/e2e/basic-latest/package.json
  packages/typespec-client-generator-core/e2e/check-latest.e2e.ts
  packages/typespec-client-generator-core/package.json
  packages/typespec-client-generator-core/tsconfig.json
  packages/typespec-client-generator-core/vitest.config.e2e.ts
Labels: lib:tcgc

#2102 Add a property `resultProperties` in `lroMetadata` to show the downstream how to get the final result of a lro
  .chronus/changes/fix-2072-2025-0-21-15-49-15.md
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/package.ts
  packages/typespec-client-generator-core/test/methods/lro.test.ts
Labels: lib:tcgc

#2077 Fix Provider name is not replaced in the route
  .chronus/changes/fix-arm-provider-async-2025-0-29-17-16-45.md
  packages/typespec-azure-resource-manager/lib/operations.tsp
Labels: lib:azure-resource-manager
