Repository Azure/typespec-azure, pull requests merged in 2025-04, with the labels that each got.

#2493 Fix invalid tsconfig from feed
  eng/feeds/__snapshots__/azure-core/tspconfig.yaml
  eng/feeds/__snapshots__/azure-core_stand_alone/tspconfig.yaml
  eng/feeds/data-plane/tspconfig.yaml
  eng/feeds/data-plane/tspconfig_stand_alone.yaml
Labels: eng

#2479 Filter out empty client
  .chronus/changes/filter-empty-client-2025-3-1-10-21-23.md
  packages/typespec-client-generator-core/src/decorators.ts
  packages/typespec-client-generator-core/src/interfaces.ts
  packages/typespec-client-generator-core/src/internal-utils.ts
  packages/typespec-client-generator-core/src/package.ts
  packages/typespec-client-generator-core/test/clients/params.test.ts
  packages/typespec-client-generator-core/test/clients/structure.test.ts
  packages/typespec-client-generator-core/test/decorators/client-api-versions.test.ts
  packages/typespec-client-generator-core/test/decorators/client-namespace.test.ts
  packages/typespec-client-generator-core/test/decorators/client.test.ts
  packages/typespec-client-generator-core/test/package/namespaces.test.ts
Labels: lib:tcgc

#2541 Update tspconfig options with kebab-case style for JS emitter
  eng/feeds/__snapshots__/azure-core/tspconfig.yaml
  eng/feeds/__snapshots__/azure-core_stand_alone/tspconfig.yaml
  eng/feeds/arm/tspconfig.yaml
  eng/feeds/data-plane/tspconfig.yaml
  eng/feeds/data-plane/tspconfig_stand_alone.yaml
Labels: eng

#2606 Fix unsupported param type target
  .chronus/changes/fix-unsupported-param-target-prop-2025-3-29-22-29-6.md
  packages/typespec-autorest/src/openapi.ts
  packages/typespec-autorest/test/parameters.test.ts
Labels: emitter:autorest
